<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="container container-fluid">
    <div class="card">
        <div class="card-heading">
            <h1 class="card-header">Create User</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col alert-danger">
                    <h2 th:if="${exception}" th:text="${exception.message}">Error</h2>
                    <ul th:if="${exception}">
                        <li th:each="error:${exception.getExceptions()}"><span
                                th:text="${error.propertyName}">name</span> -
                            <span
                                    th:text="${error.error}"></span></li>
                    </ul>
                </div>
            </div>
            <form action="#" th:action="@{/user}" th:object="${user}" method="post">
                <div class="row form-group">
                    <div class="col-2">
                        <label class="form-label" for="username">Username:</label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="username" type="email" th:field="*{username}"/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <label for="password" class="form-label">Password:</label>
                    </div>
                    <div class="col">
                        <input type="password" class="form-control" id="password" th:field="*{password}">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <label for="confirm" class="form-label">Confirm:</label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="confirm" type="password" th:field="*{confirm}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
